@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: stretch; 

}

.container div {
    display: flex;
    flex-direction: column;
    width: 25vw;
    text-align: center;
}

h3 {
    text-align: center;
    color: #333;
}

.add-product, .delete-all {
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-product p, .delete-all p {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 600;
}

input[type="text"] {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 5px;
    text-align: left;
}

.add-product, .delete-all {
    width: 30vw;
}
